PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
MONGO_URI=mongodb://mongodb:27017/clinica
JWT_SECRET=troque_essa_chave_super_secreta
JWT_EXPIRES_IN=1d
OPENWEATHER_API_KEY=sua_chave_openweather
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
VIACEP_BASE_URL=https://viacep.com.br/ws
DEFAULT_CITY=Salvador
DEFAULT_STATE=BA
